/* ============================
   Fondo y texto principal
============================ */
body {
    background-color: #f1f1f1;
    color: black;
    font-family: Coolvetica, coolvetica condensed rg;
    margin: 0;
    padding: 0;
}

/* ============================
   Encabezado
============================ */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #741d2d;
    color: #EFE9E1;
    padding: 30px 25px;
    min-height: 80px;
    position: sticky;
    top: 0;
    box-sizing: border-box;
}

/* Título centrado */
#titulo-himno {
    flex: 1;
    text-align: center;
    margin: 0;
    font-size: 1.8rem;
    font-weight: bold;
}

/* Botón Atrás */
#atras {
    background-color: #1E4E59;
    color: #EFE9E1;
    border: none;
    padding: 14px 22px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
    height: 100%; /* se adapta al header */
}

    #atras:hover,
    #atras:active {
        background-color: #122E40;
        color: #ffffff;
    }



/* ============================
   Letra del himno centrada
============================ */
main {
    display: flex;
    flex-direction: column;
    align-items: center; /* centra horizontalmente */
    gap: 20px; /* espacio entre letra y audio */
}

#letra-himno {
    text-align: center; /* centra el texto */
    max-width: 800px; /* ancho máximo para que no quede muy largo */
    line-height: 20px; /*  ajusta el espacio entre líneas */
}

#audioHimno {
    width: 80%; /* ancho del reproductor (ajústalo si quieres) */
    max-width: 400px; /* límite para que no se estire demasiado */
}

.letra {
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.6;
    max-width: 900px;
    margin: 30px auto;
    
}

/* ============================
   Pista de audio
============================ */
#audio-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

    #audio-container audio {
        width: 100%;
        max-width: 500px;
    }
